.frame3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image {
  width: ('size$ * 100 + 200') px;
}

h1 {
  font-size: ('size$ * 16 + 32') px;
  background: -webkit-linear-gradient(315deg, #42d392 25%, #647eff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
